{% extends 'base.html.twig' %}

{% block title "Real Estate Agency" %}

{% block body %}
    <div class="jumbotron text-center">
    <h1>Real Estate Agency</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut consequuntur debitis doloribus error est ex explicabo fuga,
        in iste minus molestias natus nostrum quam, quo ratione repudiandae saepe vel.
    </p>
    </div>

    <div class="container">
        <h2>Les derniers Biens</h2>
        <div class="row flex">
            {% for property in properties %}

                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show',{id: property.id,slug:property.slug}) }}">{{ property.title }}</a>
                                <p class="card-text">{{ property.city }} ({{ property.codeZip }})</p>
                                <div class="text-primary" style="font-weight: bold;font-size: 2em">{{ property.FormattedPrice }} DH </div>


                            </h5>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
