<style>
    .format{
        /*height: 641.19px;*/
        height: auto;

    }
</style>
<div class="card mb-4 format">
    {% set avatarPath="/images/properties/AImmo.jpg" %}
    {% if property.imageName %}
        <img src="{{ vich_uploader_asset(property,"imageFile") | imagine_filter('thumb')  }}" alt="card-img-top" style="width: 100%;height: auto;">
{#        <img src="/images/properties/{{ property.imageName }}" alt="card-img-top" style="width: 100%;height: auto;">#}
    {% else %}
        <img src="{{ avatarPath | imagine_filter('thumb')  }}" alt="card-img-top" style="width: auto;height: auto;">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show',{slug: property.slug,id: property.id}) }}">
                {{ property.title }}
            </a>
        </h5>
        <p class="card-text">{{ property.description | nl2br }}</p>
        <p class="card-text">{{ property.surface }} m²  - {{ property.city }} ({{ property.CodeZip }})</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ property.formattedPrice }} €
        </div>
    </div>
</div>