{% extends 'base.html.twig' %}

{% block title "Voir Tous Nos Biens" %}

{% block body %}
    {# total items count #}
{#    <div class="count">#}
{#        {{ pagination.getTotalItemCount }}#}
{#    </div>#}

    <div class="jumbotron">
        <div class="container">
            {{ form_start(formSearch) }}
            <div class="form-row align-items-end">
                <div class="col">
                   {{ form_row(formSearch.minSurface) }}
                </div>
                <div class="col">
                   {{ form_row(formSearch.maxSurface) }}
                </div>
                <div class="col">
                    {{ form_row(formSearch.maxPrice) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(formSearch) }}
        </div>
    </div>


    <div class="container mt-4">
        <h1>Voir Tous Nos Biens</h1>

        <div class="row">
        {% for property in properties %}
            <div class="col-md-4">
                {% include 'property/_property.html.twig' %}
            </div>
        {% endfor %}
        </div>

        {# display navigation #}
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>

        {# total items count #}
        <div class="count">
            {{ properties.getTotalItemCount }}
        </div>
    </div>
{% endblock %}
