{% extends 'base.html.twig' %}

{% block title "Voir Tous Nos Biens" %}

{% block body %}
    {# total items count #}
{#    <div class="count">#}
{#        {{ pagination.getTotalItemCount }}#}
{#    </div>#}

    <div class="jumbotron">
        <div class="container">
            {{ form_start(formSearch) }}
            <div class="form-row align-items-end">
                <div class="col">
                   {{ form_row(formSearch.minSurface) }}
                </div>
                <div class="col">
                   {{ form_row(formSearch.maxSurface) }}
                </div>
                <div class="col">
                    {{ form_row(formSearch.maxPrice) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(formSearch) }}
        </div>
    </div>


    <div class="container mt-4">
        <div class="title">
            <h1>Voir Tous Nos Biens</h1>
        </div>
        <div class="row p2" style="margin-bottom: 24px;margin-top: 24px;">
            <div class="col text-right">
                <span class="badge-primary p-2 m-2" style="border-radius: 30rem;font-size: large;text-align: right"> Resultas Trouver  </span>
                <b> :
                    <span class="badge-dark p-2 m-2" style="border-radius: 30rem;font-size: large;text-align: right">  {{ properties.getTotalItemCount }} </span>
                </b>
            </div>
        </div>

        <div class="row">
        {% for property in properties %}
            <div class="col-md-4">
                {% include 'property/_property.html.twig' %}
            </div>
        {% endfor %}
        </div>

        {# display navigation #}
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>

        {# total items count #}
        <div class="count">
            {{ properties.getTotalItemCount }}
        </div>
    </div>
{% endblock %}
