{% extends 'base.html.twig' %}

{#{% block title 'Gérer les bien'%}#}
{% block stylesheets %}
    <style>
        .alert-success{
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container mt-4">

        <h1>
            <label for="" class="badge badge-light">
            <a href="{{ path('admin.property.index') }}">  Gérer les biens</a>

            </label>
        </h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Crée un nouveau bien</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.title }}</td>
                <td>
                    <div class="row">
                        <div class="col-md-2" mr-12>
                            <a href="{{ path('admin.property.edit',{ id:property.id }) }}" class="btn btn-info">Editer</a>
                        </div>
                        <div class="col-md-2">
                            <form method="post" action="{{ path('admin.property.delete',{ id:property.id }) }}" style="display: inline-flex">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                                <button class="btn btn-danger" onclick="return confirm('are u sure?')">Delete</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {# display navigation #}
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>

        {# total items count #}
        <div class="count">
            {{ properties.getTotalItemCount }}
        </div>
    </div>

    {###########################################################################}

    {% block javascripts %}
            <script type="text/javascript">


            </script>
    {% endblock %}
{% endblock %}
